* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "sans-serif";
}

:root {
  --main-color-0: #17252a;
  --main-color-1: #2b7a78;
  --main-color-2: #3aafa9;
  --main-color-3: #def2f1;
  --main-color-4: #feffff;
}

body {
  color: var(--main-color-0);
  background-color: var(--main-color-0);
  padding: 20px;
}

#main-wrapper {
  display: flex;
  flex-direction: row;
}

#header {
  color: var(--main-color-4);
}

#library-section {
  width: 1120px;
}

#display {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  gap: 10px;
}

.book-tile {
  box-shadow: 1px 1px 4px var(--main-color-2);
  position: relative;
  font-weight: 500;
  color: var(--main-color-0);
  background-color: var(--main-color-3);
  height: 100px;
  width: 250px;
  border-radius: 10px;
  padding: 10px;
}

.delete-btn {
  border: none;
  color: var(--main-color-1);
  outline: 2px solid var(--main-color-1);
  background-color: var(--main-color-3);
  border-radius: 50px;
  height: 10px;
  width: 10px;
  line-height: 11px;
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: 10px;
  cursor: pointer;
}

.delete-btn:hover {
  outline: 2px solid red;
  color: red;
  background-color: var(--main-color-4);
}

.read-wrapper {
  display: flex;
  justify-content: flex-end;
  color: var(--main-color-1);
  font-weight: 500;
}

.read-box {
  margin-left: 5px;
  width: 14px;
  accent-color: var(--main-color-1);
}

#add-book-section {
  box-shadow: 1px 1px 5px var(--main-color-2);
  margin: 10px;
  margin-top: 68px;
  height: 410px;
  width: 250px;
  background-color: var(--main-color-3);
  border-radius: 10px;
  padding: 40px;
}

#add-book-section > h2 {
  text-align: center;
}

.input-wrapper {
  font-size: 14px;
  font-weight: 600;
  color: var(--main-color-1);
  margin-top: 30px;
  margin-bottom: 30px;
}

.add-input-field {
  width: 250px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: var(--main-color-3);
  border-bottom: 2px solid var(--main-color-1);
}

.add-input-field:focus {
  outline: none;
}

#addBookBtn {
  margin-left: 70px;
  background-color: var(--main-color-3);
  color: var(--main-color-1);
  border: 2px solid var(--main-color-1);
  border-radius: 25px;
  padding: 4px 12px;
  margin-top: 60px;
  font-weight: 600;
  cursor: pointer;
}

#addBookBtn:hover {
  background-color: var(--main-color-1);
  color: var(--main-color-4);
}

.title,
.author,
.published {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#copyright {
  font-size: 12px;
  margin-top: 60px;
  color: var(--main-color-2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
}

#copyright-link {
  color: var(--main-color-2);
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

#source-link {
  color: var(--main-color-2);
  margin-left: 5px;
  transition: 100ms ease-in-out;
}

#source-link:hover {
  color: var(--main-color-1);
}

#github-icon {
  font-size: 22px;
  text-decoration: none;
  transition: 200ms ease-in-out;
}

#github-icon:hover {
  color: var(--main-color-1);
  transform: scale(1.1);
}

/* Remove number input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px blue inset;
}
