* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "sans-serif";
}

:root {
  --main-color-0: #17252a;
  --main-color-1: #2b7a78;
  --main-color-2: #3aafa9;
  --main-color-3: #def2f1;
  --main-color-4: #feffff;
}

body {
  color: var(--main-color-0);
  background-color: var(--main-color-0);
}

#main-wrapper {
  display: flex;
  flex-direction: row;
}

#header {
  display: flex;
  align-items: center;
  color: var(--main-color-4);
}

#open-book-form-btn {
  margin-left: 76px;
  background-color: var(--main-color-3);
  color: var(--main-color-1);
  border: none;
  border-radius: 25px;
  padding: 4px 12px;
  font-weight: 600;
  cursor: pointer;
}

#open-book-form-btn:hover {
  background-color: var(--main-color-1);
  color: var(--main-color-4);
}

#library-section {
  padding: 20px;
  width: 100vw;
}

#display {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  gap: 20px;
}

.book-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 10px black;
  position: relative;
  font-weight: 500;
  color: var(--main-color-0);
  background-color: var(--main-color-3);
  border-radius: 10px;
  padding: 20px 0;
}

.delete-btn {
  font-size: 12px;
  background-color: var(--main-color-3);
  color: var(--main-color-1);
  border: none;
  border-right: 1px solid var(--main-color-1);
  padding-right: 8px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 16px;
}

.delete-btn:hover {
  color: darkred;
}

.read {
  font-size: 12px;
  background-color: var(--main-color-3);
  color: var(--main-color-1);
  border: none;
  padding-left: 8px;
  font-weight: 500;
  margin-top: 16px;
}

.read-wrapper {
  display: flex;
  justify-content: flex-end;
  color: var(--main-color-1);
  font-weight: 500;
}

.read-box {
  margin-top: 16px;
  margin-left: 5px;
  width: 12px;
  accent-color: var(--main-color-1);
}

.cover {
  margin: 3px;
  box-shadow: 1px 1px 5px black;
  height: 250px;
  width: 170px;
  object-fit: cover;
}

#coverUrl-input::placeholder {
  color: gray;
  font-weight: 500;
  font-size: 12px;
}

#darken-wrapper {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  z-index: 1;
}

#add-book-section {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 10px black;
  height: 440px;
  width: 250px;
  background-color: var(--main-color-3);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 0px 20px black;
}

#add-book-section > h2 {
  text-align: center;
}

.input-wrapper {
  font-size: 14px;
  font-weight: 600;
  color: var(--main-color-1);
  margin-top: 30px;
  margin-bottom: 30px;
}

.add-input-field {
  width: 250px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: var(--main-color-3);
  border-bottom: 2px solid var(--main-color-1);
}

.add-input-field:focus {
  outline: none;
}

#read-input {
  margin-top: 0;
}

#addBookBtn {
  margin-left: 70px;
  background-color: var(--main-color-3);
  color: var(--main-color-1);
  border: 2px solid var(--main-color-1);
  border-radius: 25px;
  padding: 4px 12px;
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
}

#addBookBtn:hover {
  background-color: var(--main-color-1);
  color: var(--main-color-4);
}
#close-form-btn {
  color: var(--main-color-1);
  cursor: pointer;
  border: none;
  margin-left: 30px;
  background-color: var(--main-color-3);
}

#close-form-btn:hover {
  color: var(--main-color-0);
}

.title,
.author,
.published,
.add-input-field {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#copyright {
  font-weight: 500;
  font-size: 12px;
  margin-top: 40px;
  color: var(--main-color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
}

#copyright-link {
  color: var(--main-color-1);
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

#source-link {
  color: var(--main-color-1);
  margin-left: 5px;
  transition: 50ms ease-in-out;
}

#source-link:hover {
  color: var(--main-color-2);
}

#github-icon {
  font-size: 22px;
  text-decoration: none;
  transition: 100ms ease-in-out;
}

#github-icon:hover {
  color: var(--main-color-2);
  transform: scale(1.1);
}

/* Remove number input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px blue inset;
}
